<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>niuguai-bu-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,302},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>niuguai-bu-1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{6,6}</string>
            </dict>
            <key>niuguai-c3h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,383},{42,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,29}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>niuguai-c3h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,268},{28,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,40}}</string>
                <key>sourceSize</key>
                <string>{28,40}</string>
            </dict>
            <key>niuguai-c3h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,291},{31,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,52}}</string>
                <key>sourceSize</key>
                <string>{31,52}</string>
            </dict>
            <key>niuguai-chen-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,220},{69,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,35}}</string>
                <key>sourceSize</key>
                <string>{69,35}</string>
            </dict>
            <key>niuguai-chen-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,236},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>niuguai-chen-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{78,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{78,39}</string>
            </dict>
            <key>niuguai-chen-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,428},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{82,38}</string>
            </dict>
            <key>niuguai-f-04 .png</key>
            <dict>
                <key>frame</key>
                <string>{{338,63},{17,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,54}}</string>
                <key>sourceSize</key>
                <string>{17,54}</string>
            </dict>
            <key>niuguai-f-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,95},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>niuguai-f-1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niuguai-f-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,428},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>niuguai-f-2k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niuguai-f-4 k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niuguai-f-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,486},{48,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,22}</string>
            </dict>
            <key>niuguai-f-4k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>niuguai-f-5 k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>niuguai-f-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,274},{26,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,72}}</string>
                <key>sourceSize</key>
                <string>{26,72}</string>
            </dict>
            <key>niuguai-gxs2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,221},{85,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,13}}</string>
                <key>sourceSize</key>
                <string>{85,13}</string>
            </dict>
            <key>niuguai-gxs3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,173},{96,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,12}}</string>
                <key>sourceSize</key>
                <string>{96,12}</string>
            </dict>
            <key>niuguai-huan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,302},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>niuguai-niu-2a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,237},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>niuguai-niu-2b-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,427},{31,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,54}}</string>
                <key>sourceSize</key>
                <string>{31,54}</string>
            </dict>
            <key>niuguai-niu-3a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,324},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>niuguai-niu-3a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,345},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,47}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>niuguai-niu-3a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,385},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>niuguai-niu-4a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,342},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>niuguai-niu-4a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,260},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>niuguai-niu-4a-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,383},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>niuguai-niu-4a-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,298},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>niuguai-niu-4a-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,65},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,28}</string>
            </dict>
            <key>niuguai-niu-5a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,146},{35,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,72}}</string>
                <key>sourceSize</key>
                <string>{35,72}</string>
            </dict>
            <key>niuguai-niu-5a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,296},{47,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{47,55}</string>
            </dict>
            <key>niuguai-niu-6a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,483},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>niuguai-niu-7a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,121},{43,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,72}}</string>
                <key>sourceSize</key>
                <string>{43,72}</string>
            </dict>
            <key>niuguai-niu-7a-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{7,7}</string>
            </dict>
            <key>niuguai-niu-8a-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{82,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,62}}</string>
                <key>sourceSize</key>
                <string>{82,62}</string>
            </dict>
            <key>niuguai-niu-9a-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,427},{56,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>niuguai-niu-ed-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,122},{20,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,12}}</string>
                <key>sourceSize</key>
                <string>{20,12}</string>
            </dict>
            <key>niuguai-niu-ed-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,119},{25,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,17}}</string>
                <key>sourceSize</key>
                <string>{25,17}</string>
            </dict>
            <key>niuguai-niu-fb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,323},{58,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,15}}</string>
                <key>sourceSize</key>
                <string>{58,15}</string>
            </dict>
            <key>niuguai-niu-fb-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,383},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>niuguai-niu-futou-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,195},{71,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{71,43}</string>
            </dict>
            <key>niuguai-niu-futou-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,279},{65,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,43}}</string>
                <key>sourceSize</key>
                <string>{65,43}</string>
            </dict>
            <key>niuguai-niu-nj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,260},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>niuguai-niu-nj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,293},{25,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,48}}</string>
                <key>sourceSize</key>
                <string>{25,48}</string>
            </dict>
            <key>niuguai-niu-qz-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,428},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>niuguai-niu-qz-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,353},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>niuguai-niu-qz-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,291},{30,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,49}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>niuguai-niu-qz-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,489},{15,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,50}}</string>
                <key>sourceSize</key>
                <string>{15,50}</string>
            </dict>
            <key>niuguai-niu-qz-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,324},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,49}</string>
            </dict>
            <key>niuguai-niu-tb-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,390},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{36,50}</string>
            </dict>
            <key>niuguai-niu-tf-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,187},{93,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,71}}</string>
                <key>sourceSize</key>
                <string>{93,71}</string>
            </dict>
            <key>niuguai-niu-tf-2k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>niuguai-niu-wbq-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,122},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>niuguai-niu-wbq-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,428},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>niuguai-niu-wbq-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,43},{77,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,119}}</string>
                <key>sourceSize</key>
                <string>{77,119}</string>
            </dict>
            <key>niuguai-niu-wbq-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{84,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,116}}</string>
                <key>sourceSize</key>
                <string>{84,116}</string>
            </dict>
            <key>niuguai-niu-wbq-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,46},{115,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,74}}</string>
                <key>sourceSize</key>
                <string>{115,74}</string>
            </dict>
            <key>niuguai-niu-wbq-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,88},{107,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,83}}</string>
                <key>sourceSize</key>
                <string>{107,83}</string>
            </dict>
            <key>niuguai-niu-xb-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,389},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>niuguai-niu-xb-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,173},{24,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,9}}</string>
                <key>sourceSize</key>
                <string>{24,9}</string>
            </dict>
            <key>niuguai-niu-xb-3k.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,508},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{3,3}</string>
            </dict>
            <key>niuguai-niu-yd-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,236},{58,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,22}}</string>
                <key>sourceSize</key>
                <string>{58,22}</string>
            </dict>
            <key>niuguai-niu-yj-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,199},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>niuguai-niu-yj-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,243},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,8}}</string>
                <key>sourceSize</key>
                <string>{10,8}</string>
            </dict>
            <key>niuguai-niu-yz.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{135,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,42}}</string>
                <key>sourceSize</key>
                <string>{135,42}</string>
            </dict>
            <key>niuguai-qe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,214},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>niuguai-qi-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,279},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>niuguai-qi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,46},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>niuguai-qi-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,489},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>niuguai-qi-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,320},{25,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>niuguai-qi-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,228},{13,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,10}}</string>
                <key>sourceSize</key>
                <string>{13,10}</string>
            </dict>
            <key>niuguai-tx-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,164},{71,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,77}}</string>
                <key>sourceSize</key>
                <string>{71,77}</string>
            </dict>
            <key>niuguai-tx-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{34,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,61}}</string>
                <key>sourceSize</key>
                <string>{34,61}</string>
            </dict>
            <key>niuguai-tx-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,260},{15,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,31}}</string>
                <key>sourceSize</key>
                <string>{15,31}</string>
            </dict>
            <key>niuguai-xfa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>niuguai-xfa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>niuguai-xfa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,140}}</string>
                <key>sourceSize</key>
                <string>{134,140}</string>
            </dict>
            <key>niuguai-yan-01 .png</key>
            <dict>
                <key>frame</key>
                <string>{{250,302},{45,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,19}}</string>
                <key>sourceSize</key>
                <string>{45,19}</string>
            </dict>
            <key>niuguai-yan-03 .png</key>
            <dict>
                <key>frame</key>
                <string>{{138,324},{64,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,47}}</string>
                <key>sourceSize</key>
                <string>{64,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>niutouguai.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:390fc0ac7b03e817d0221de230973972$</string>
            <key>textureFileName</key>
            <string>niutouguai.png</string>
        </dict>
    </dict>
</plist>
