<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>living173_jinqucd0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,128},{20,43}}</string>
                <key>offset</key>
                <string>{-8,180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,2},{20,43}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,205},{60,113}}</string>
                <key>offset</key>
                <string>{-27,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,2},{60,113}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,267},{60,105}}</string>
                <key>offset</key>
                <string>{-26,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,79},{60,105}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,329},{60,99}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,154},{60,99}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,158},{64,265}}</string>
                <key>offset</key>
                <string>{-21,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,3},{64,265}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{84,201}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,78},{84,201}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{124,301}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,2},{124,301}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,641},{154,231}}</string>
                <key>offset</key>
                <string>{-26,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,78},{154,231}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{154,305}}</string>
                <key>offset</key>
                <string>{-25,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,3},{154,305}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{158,233}}</string>
                <key>offset</key>
                <string>{-28,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,79},{158,233}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,976},{160,165}}</string>
                <key>offset</key>
                <string>{-26,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,154},{160,165}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,323}}</string>
                <key>offset</key>
                <string>{-26,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,3},{166,323}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,455},{184,253}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,78},{184,253}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,980},{192,181}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,154},{192,181}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,801},{198,173}}</string>
                <key>offset</key>
                <string>{-25,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,167},{198,173}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,797},{204,181}}</string>
                <key>offset</key>
                <string>{-25,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,163},{204,181}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,580},{232,189}}</string>
                <key>offset</key>
                <string>{-18,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,157},{232,189}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,375},{254,203}}</string>
                <key>offset</key>
                <string>{-33,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,148},{254,203}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,391},{246,203}}</string>
                <key>offset</key>
                <string>{-37,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,148},{246,203}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,596},{220,203}}</string>
                <key>offset</key>
                <string>{-18,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,148},{220,203}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{260,229}}</string>
                <key>offset</key>
                <string>{-21,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,126},{260,229}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,224},{254,229}}</string>
                <key>offset</key>
                <string>{-23,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,126},{254,229}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,128},{268,245}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,119},{268,245}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{254,227}}</string>
                <key>offset</key>
                <string>{10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,130},{254,227}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{222,205}}</string>
                <key>offset</key>
                <string>{-12,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,135},{222,205}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,771},{218,181}}</string>
                <key>offset</key>
                <string>{-11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,154},{218,181}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,954},{194,185}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,153},{194,185}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
            <key>living173_jinqucd0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{182,185}}</string>
                <key>offset</key>
                <string>{14,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,153},{182,185}}</string>
                <key>sourceSize</key>
                <string>{336,407}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_bomb_05.png</string>
            <key>size</key>
            <string>{1024,1181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eef5696b51167925d6421d2ac9fdbed$</string>
            <key>textureFileName</key>
            <string>e_bomb_05.png</string>
        </dict>
    </dict>
</plist>
