<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_bomb_03_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,122},{39,40}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,56},{39,40}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,398},{83,82}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,33},{83,82}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,264},{139,132}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{139,132}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,525},{131,130}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,23},{131,130}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,406},{125,132}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{125,132}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,398},{125,134}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,19},{125,134}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,268},{137,136}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{137,136}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,122},{143,140}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{143,140}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{145,150}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{145,150}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,118},{153,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{153,148}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{149,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{149,146}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{155,118}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,29},{155,118}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,116}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{165,116}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,114}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{165,114}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{109,94}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{109,94}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{87,94}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{87,94}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,573},{83,90}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,30},{83,90}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>e_bomb_03_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,483},{65,88}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,31},{65,88}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_bomb_03.png</string>
            <key>size</key>
            <string>{512,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cdb31797c5872f9da34ccbd68dbdedb$</string>
            <key>textureFileName</key>
            <string>e_bomb_03.png</string>
        </dict>
    </dict>
</plist>
