<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_bomb_06_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,258},{22,44}}</string>
                <key>offset</key>
                <string>{83,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,15},{22,44}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,304},{222,94}}</string>
                <key>offset</key>
                <string>{-38,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,32},{222,94}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,908},{164,96}}</string>
                <key>offset</key>
                <string>{-29,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,96},{164,96}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,202},{106,98}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,161},{106,98}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{48,246}}</string>
                <key>offset</key>
                <string>{-11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,4},{48,246}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,258},{42,188}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,79},{42,188}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{164,254}}</string>
                <key>offset</key>
                <string>{38,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,21},{164,254}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,528},{150,190}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,92},{150,190}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{162,274}}</string>
                <key>offset</key>
                <string>{-9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{162,274}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,810},{132,210}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{132,210}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,144},{142,142}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,157},{142,142}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,300}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,4},{150,300}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,580},{154,228}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,80},{154,228}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,832},{164,154}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,156},{164,154}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,678},{176,140}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,172},{176,140}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,302},{184,152}}</string>
                <key>offset</key>
                <string>{-4,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,166},{184,152}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{190,162}}</string>
                <key>offset</key>
                <string>{-7,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,163},{190,162}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{198,162}}</string>
                <key>offset</key>
                <string>{-8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,163},{198,162}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{182,164}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,161},{182,164}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,492},{184,168}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,158},{184,168}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,720},{186,168}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,158},{186,168}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,302},{188,170}}</string>
                <key>offset</key>
                <string>{3,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,156},{188,170}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,660},{170,164}}</string>
                <key>offset</key>
                <string>{11,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,157},{170,164}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,856},{172,164}}</string>
                <key>offset</key>
                <string>{13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,158},{172,164}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,488},{170,164}}</string>
                <key>offset</key>
                <string>{12,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,158},{170,164}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{140,146}}</string>
                <key>offset</key>
                <string>{28,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,177},{140,146}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
            <key>e_bomb_06_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{140,146}}</string>
                <key>offset</key>
                <string>{28,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,177},{140,146}}</string>
                <key>sourceSize</key>
                <string>{300,364}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_bomb_06.png</string>
            <key>size</key>
            <string>{948,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2165497a4741fdc5709cc60ff854cba$</string>
            <key>textureFileName</key>
            <string>e_bomb_06.png</string>
        </dict>
    </dict>
</plist>
