<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>living173_choud0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,136},{63,68}}</string>
                <key>offset</key>
                <string>{-57,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,11},{63,68}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,69},{65,70}}</string>
                <key>offset</key>
                <string>{-80,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,48},{65,70}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{65,70}}</string>
                <key>offset</key>
                <string>{-102,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,86},{65,70}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1722},{193,190}}</string>
                <key>offset</key>
                <string>{-62,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,10},{193,190}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1625},{177,164}}</string>
                <key>offset</key>
                <string>{-76,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,47},{177,164}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1722},{183,150}}</string>
                <key>offset</key>
                <string>{-101,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,85},{183,150}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1267},{159,112}}</string>
                <key>offset</key>
                <string>{-112,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,123},{159,112}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1037},{295,228}}</string>
                <key>offset</key>
                <string>{-48,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,11},{295,228}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1427},{273,196}}</string>
                <key>offset</key>
                <string>{-59,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,47},{273,196}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1570},{253,166}}</string>
                <key>offset</key>
                <string>{-71,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,85},{253,166}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1738},{233,136}}</string>
                <key>offset</key>
                <string>{-84,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,120},{233,136}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,464},{371,248}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,11},{371,248}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,714},{353,216}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,48},{353,216}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{333,182}}</string>
                <key>offset</key>
                <string>{-46,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,86},{333,182}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{461,260}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{461,260}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,226}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,48},{463,226}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{439,188}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{439,188}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,264},{387,172}}</string>
                <key>offset</key>
                <string>{-21,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,101},{387,172}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{371,212}}</string>
                <key>offset</key>
                <string>{-32,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,73},{371,212}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,264},{403,198}}</string>
                <key>offset</key>
                <string>{-22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,78},{403,198}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{403,158}}</string>
                <key>offset</key>
                <string>{-18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,100},{403,158}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{339,164}}</string>
                <key>offset</key>
                <string>{18,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,96},{339,164}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,932},{337,212}}</string>
                <key>offset</key>
                <string>{14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,73},{337,212}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{331,204}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,79},{331,204}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1267},{279,158}}</string>
                <key>offset</key>
                <string>{50,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,101},{279,158}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1146},{285,166}}</string>
                <key>offset</key>
                <string>{48,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,98},{285,166}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,819},{289,216}}</string>
                <key>offset</key>
                <string>{50,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,75},{289,216}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1314},{275,202}}</string>
                <key>offset</key>
                <string>{58,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,79},{275,202}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,653},{237,164}}</string>
                <key>offset</key>
                <string>{81,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,100},{237,164}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{253,218}}</string>
                <key>offset</key>
                <string>{101,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,74},{253,218}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1518},{253,202}}</string>
                <key>offset</key>
                <string>{96,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,78},{253,202}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{235,158}}</string>
                <key>offset</key>
                <string>{89,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,103},{235,158}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1791},{165,160}}</string>
                <key>offset</key>
                <string>{131,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,102},{165,160}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1625},{169,166}}</string>
                <key>offset</key>
                <string>{129,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,100},{169,166}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
            <key>living173_choud0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1793},{155,158}}</string>
                <key>offset</key>
                <string>{123,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,102},{155,158}}</string>
                <key>sourceSize</key>
                <string>{503,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_bomb_04.png</string>
            <key>size</key>
            <string>{1022,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7328ba8ef8ae885de664662acf81acca$</string>
            <key>textureFileName</key>
            <string>e_bomb_04.png</string>
        </dict>
    </dict>
</plist>
