<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e_longjuan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,265},{151,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,238}}</string>
                <key>sourceSize</key>
                <string>{151,238}</string>
            </dict>
            <key>e_longjuan_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,266},{155,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,240}}</string>
                <key>sourceSize</key>
                <string>{155,240}</string>
            </dict>
            <key>e_longjuan_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,262}}</string>
                <key>sourceSize</key>
                <string>{158,262}</string>
            </dict>
            <key>e_longjuan_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{162,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,261}}</string>
                <key>sourceSize</key>
                <string>{162,261}</string>
            </dict>
            <key>e_longjuan_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{147,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,241}}</string>
                <key>sourceSize</key>
                <string>{147,241}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e_longjuan.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dae42a2dee3534a30e24e9b377844d3$</string>
            <key>textureFileName</key>
            <string>e_longjuan.png</string>
        </dict>
    </dict>
</plist>
