<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heiwuchang_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{132,222}}</string>
                <key>offset</key>
                <string>{-9,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,16},{132,222}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>heiwuchang_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,332},{134,222}}</string>
                <key>offset</key>
                <string>{-24,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,17},{134,222}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>heiwuchang_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,142},{134,224}}</string>
                <key>offset</key>
                <string>{-30,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,14},{134,224}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>heiwuchang_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{230,186}}</string>
                <key>offset</key>
                <string>{75,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,54},{230,186}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>heiwuchang_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,565},{176,194}}</string>
                <key>offset</key>
                <string>{46,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,46},{176,194}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>heiwuchang_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,194}}</string>
                <key>offset</key>
                <string>{89,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,46},{266,194}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>heiwuchang_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{138,220}}</string>
                <key>offset</key>
                <string>{-19,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,30},{138,220}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>heiwuchang_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,561},{140,218}}</string>
                <key>offset</key>
                <string>{-34,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,32},{140,218}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>heiwuchang_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,468},{138,220}}</string>
                <key>offset</key>
                <string>{-22,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,30},{138,220}}</string>
                <key>sourceSize</key>
                <string>{490,490}</string>
            </dict>
            <key>heiwuchang_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,143},{139,223}}</string>
                <key>offset</key>
                <string>{-1,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,14},{139,223}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>heiwuchang_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,424},{139,221}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,17},{139,221}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>heiwuchang_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{139,225}}</string>
                <key>offset</key>
                <string>{1,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,17},{139,225}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>heiwuchang_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,420},{139,221}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,17},{139,221}}</string>
                <key>sourceSize</key>
                <string>{463,463}</string>
            </dict>
            <key>heiwuchang_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,284},{138,222}}</string>
                <key>offset</key>
                <string>{0,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,11},{138,222}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>heiwuchang_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,278},{140,222}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,13},{140,222}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>heiwuchang_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,2},{138,224}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,15},{138,224}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>heiwuchang_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{140,222}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,13},{140,222}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
            <key>heiwuchang_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,190},{140,222}}</string>
                <key>offset</key>
                <string>{0,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,12},{140,222}}</string>
                <key>sourceSize</key>
                <string>{454,454}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heiwuchang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ab54aab479d4c0e4c40db47600e533$</string>
            <key>textureFileName</key>
            <string>heiwuchang.png</string>
        </dict>
    </dict>
</plist>
