<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>houbing_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,140}}</string>
                <key>offset</key>
                <string>{-33,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,94},{232,140}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,374},{136,134}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,98},{136,134}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{140,128}}</string>
                <key>offset</key>
                <string>{-5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,76},{140,128}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,258},{120,136}}</string>
                <key>offset</key>
                <string>{20,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,63},{120,136}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,100},{178,156}}</string>
                <key>offset</key>
                <string>{56,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,79},{178,156}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,100},{172,88}}</string>
                <key>offset</key>
                <string>{54,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,144},{172,88}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{186,96}}</string>
                <key>offset</key>
                <string>{56,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,135},{186,96}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{120,114}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,119},{120,114}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{116,114}}</string>
                <key>offset</key>
                <string>{-24,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,123},{116,114}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,396},{136,112}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,118},{136,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{136,110}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,120},{136,110}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,510},{136,110}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,120},{136,110}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{136,114}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,115},{136,114}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,622},{134,112}}</string>
                <key>offset</key>
                <string>{14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,117},{134,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,510},{134,112}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,118},{134,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{136,112}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,116},{136,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{138,112}}</string>
                <key>offset</key>
                <string>{14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,116},{138,112}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
            <key>houbing_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,258},{140,114}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,117},{140,114}}</string>
                <key>sourceSize</key>
                <string>{440,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>houbing.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af681369c8d9431e577fc3934a67abd9$</string>
            <key>textureFileName</key>
            <string>houbing.png</string>
        </dict>
    </dict>
</plist>
