<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tie_shan_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,394},{204,200}}</string>
                <key>offset</key>
                <string>{16,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,98},{204,200}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{202,202}}</string>
                <key>offset</key>
                <string>{19,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,79},{202,202}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{242,186}}</string>
                <key>offset</key>
                <string>{-69,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,102},{242,186}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{256,188}}</string>
                <key>offset</key>
                <string>{-83,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,103},{256,188}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,196}}</string>
                <key>offset</key>
                <string>{-70,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,82},{276,196}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{258,198}}</string>
                <key>offset</key>
                <string>{46,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,100},{258,198}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,213},{228,148}}</string>
                <key>offset</key>
                <string>{24,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,146},{228,148}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>tie_shan_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{209,237}}</string>
                <key>offset</key>
                <string>{-38,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,33},{209,237}}</string>
                <key>sourceSize</key>
                <string>{459,453}</string>
            </dict>
            <key>tie_shan_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,190},{203,241}}</string>
                <key>offset</key>
                <string>{-69,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,37},{203,241}}</string>
                <key>sourceSize</key>
                <string>{459,453}</string>
            </dict>
            <key>tie_shan_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,202},{224,190}}</string>
                <key>offset</key>
                <string>{-36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,4},{224,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>tie_shan_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,363},{224,190}}</string>
                <key>offset</key>
                <string>{-36,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{224,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>tie_shan_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{222,188}}</string>
                <key>offset</key>
                <string>{-36,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,10},{222,188}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>tie_shan_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,363},{224,190}}</string>
                <key>offset</key>
                <string>{-36,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{224,190}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tie_shan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:769732973f078a4b3a6b0e465441890c$</string>
            <key>textureFileName</key>
            <string>tie_shan.png</string>
        </dict>
    </dict>
</plist>
